body {
  margin: 0;
  padding: 0;
  background-color: #00b0d7;
  font-size: 25px;
  height: 100%;
  width: 100%;
}

.noscroll { overflow: hidden; position: fixed; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clouds {
  width: 4000px;
  height: 200px;
  position: absolute;
  top: 6px;
  background-image: url("images/clouds.svg?v2");
  background-size: 2000px 200px;
  background-repeat-y: no-repeat;
  overflow: hidden;
  animation: clouds 45s linear infinite;
  animation-delay: -5s;
  z-index: -2;
}

.clock {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: white;
}

.time {
  font-size: 6em;
  display: inline-block;
  text-align: center;
}

.type {
  font-size: 3em;
  display: inline-block;
}

.date {
  color: #F9F5F5;
  font-size: 1.4em;
  padding-left: 15px;
}

.sun {
  background-color: #ffeb3b;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 120px;
  box-shadow: 0px 0px 33px #D2C12E;
  z-index: -1;
}

.moon {
  background-color: #DADADA;
  box-shadow: 0px 0px 33px #DADADA;
  z-index: -1;
}

.hills {
  background-image: url("images/hills.svg");
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 101%;
  height: 25%;
}

@keyframes clouds {
	from { transform: translateX(0%); }
	to { transform: translateX(-50%); }
}

@media(max-width: 1000px) {

  body {
    font-size: 15px;
  }

  .sun {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
  }

  .center {
    align-items: flex-end;
    height: 65%;
  }

}
